body
{
    background-color: rgb(255, 255, 255);
    width: 100% ;
    background-image: linear-gradient( 15deg , rgb(253, 236, 236) , rgb(255, 254, 187) )
    
}
.lien
{
    text-decoration: none;
    color: black

}
.btn
{
    background-color: rgb(187, 187, 187);
    
   
}
.inpt , .btn
{
    border: 1px black solid;
    padding: 5px;
    border-radius: 50px;
    border: 1px solid black ;
    color: black;

}

.clss
{
    width: 75%;
    margin: auto;
    font-family: sans-serif;
    text-decoration: black solid;
}
.sucsess
{
    color: rgb(3, 32, 3);
}
